<h1>Unete al Chat</h1>


  <div id="username-form">
    <form id="username-form" action="/api/msg" method="POST">
    <input type="text" id="username" name="user"  placeholder="Nombre">
    <input type="text" id="message" name="message" placeholder="Mensaje">
    <button type="submit">Join Chat</button>
    </form>
  </div>

  